{% import '_includes/forms' as forms %}

{{ forms.textareaField( {
    label: "Twig code to parse"|t,
    instructions: "Enter the twig code for the annotation that will be parsed after the entry has been saved."|t,
    id: 'annotationTwig',
    name: 'annotationTwig',
    value: field.annotationTwig,
    class: 'code',
    rows: 5
}) }}

<div style="display: none;">
    {{ columnsField|raw }}
    {{ defaultsField|raw }}
</div>

{{ forms.textField({
    label: "Min Rows"|t('app'),
    instructions: "The minimum number of notes the field is allowed to have."|t('app'),
    id: 'minRows',
    name: 'minRows',
    value: field.minRows,
    size: 3,
    errors: field.getErrors('minRows')
}) }}

{{ forms.textField({
    label: "Max Rows"|t('app'),
    instructions: "The maximum number of notes the field is allowed to have."|t('app'),
    id: 'maxRows',
    name: 'maxRows',
    value: field.maxRows,
    size: 3,
    errors: field.getErrors('maxRows')
}) }}

{{ forms.textField({
    label: "Add Row Label"|t('app'),
    instructions: "Insert the button label for adding a new note to the table."|t('app'),
    id: 'addRowLabel',
    name: 'addRowLabel',
    value: field.addRowLabel,
    size: 20,
    errors: field.getErrors('addRowLabel')
}) }}

<hr>
<a class="fieldtoggle" data-target="advanced">{{ "Advanced"|t('app') }}</a>
{% set hideAdvanced = not (field.getErrors('annotationHeading') or field.getErrors('noteHeading') or field.getErrors('noteColumnWidth')) %}
<div id="advanced" {{ hideAdvanced ? 'class="hidden"' }}>
    {{ forms.textField({
        label: "Annotation Label"|t('annotated-notes'),
        instructions: "The user-visible name of the annotation column"|t('annotated-notes'),
        id: 'annotationHeading',
        name: 'annotationHeading',
        value: field.annotationHeading,
        errors: field.getErrors('annotationHeading')
    }) }}
    {{ forms.textField({
        label: "Note Label"|t('annotated-notes'),
        instructions: "The user-visible name of the note column"|t('annotated-notes'),
        id: 'noteHeading',
        name: 'noteHeading',
        value: field.noteHeading,
        errors: field.getErrors('noteHeading')
    }) }}
    {{ forms.textField({
        label: "Note Column Width"|t('annotated-notes'),
        instructions: "The width (%) of the Note column"|t('annotated-notes'),
        id: 'noteColumnWidth',
        name: 'noteColumnWidth',
        value: field.noteColumnWidth,
        size: 3,
        errors: field.getErrors('noteColumnWidth')
    }) }}

    {% if craft.app.db.isMysql %}
        {{ forms.selectField({
            label: "Column Type"|t('app'),
            id: 'column-type',
            name: 'columnType',
            instructions: "The type of column this field should get in the database."|t('app'),
            options: [
                { value: 'text', label: 'text (~64KB)' },
                { value: 'mediumtext', label: 'mediumtext (~16MB)' },
            ],
            value: field.columnType,
            warning: (field.id ? "Changing this may result in data loss."|t('app')),
        }) }}
    {% endif %}
</div>
